@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin 2 - Dashboard</title>
        <!-- Custom fonts for this template-->
        @Styles.Render("~/Content/Admin/css")
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->

    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Management <sup>2</sup></div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/Actors">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Actors</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/Grammars">
                        <i class="fa fa-cube"></i>
                        <span>Grammars</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/Lessions">
                        <i class="fa fa-book"></i>
                        <span>Lessions</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/QuestionItems">
                        <i class="fa fa-anchor"></i>
                        <span>QuestionItem</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/Questions">
                        <i class="fa fa-question-circle"></i>
                        <span>Questions</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/SoundConservations">
                        <i class="fa fa-music"></i>
                        <span>SoundConservations</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Admin/Topics">
                        <i class="fa fa-list-alt"></i>
                        <span>Topics</span>
                    </a>
                </li>
                @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="@Url.Action("Create", "UsersAdmin", new { Area = "" })">Create User</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="@Url.Action("Index", "UsersAdmin", new { Area = "" })">User Management</a>
                        </div>
                    </li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Role Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="@Url.Action("Create", "RolesAdmin", new { Area = "" })">Create Role</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="@Url.Action("Index", "RolesAdmin", new { Area = "" })">Role Management</a>
                        </div>
                    </li>
                }
            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-link">
                                @Html.ActionLink("Xin chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        @Scripts.Render("~/Content/Admin/js")
        @RenderSection("scripts", false)
    </body>
</html>
}
