@model IEnumerable<MyWebsite.Core.Models.Question>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Question</h6>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TopicId)</th>
                        <th>@Html.DisplayNameFor(model => model.QuestionTitle)</th>
                        <th>@Html.DisplayNameFor(model => model.Answer)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TopicId</td>
                            <td>@item.QuestionTitle</td>
                            <td>@item.Answer</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info fa fa-edit" })
                                @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
