@model IEnumerable<MyWebsite.Core.Models.QuestionItem>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Phương án</h6>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Tạo mới", "Create")
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã câu hỏi</th>
                        <th>Nội dung</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.QuestionId</td>
                            <td>@item.Title</td>
                            <td>
                                @Html.ActionLink("Sửa ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info fa fa-edit" })
                                @Html.ActionLink("Xóa", "DeleteItem", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
