@model MyWebsite.Core.Models.Lession
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Let try your best</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                    <img class="img-fluid" src="@Model.Images" alt="">
                </div>
                <div class="content_wrapper">
                    <h3 class="title">Hội thoại</h3>
                    <div class="content">
                        <h3>Nội dung cuộc trò chuyện</h3>
                        <audio controls class="ml-5">
                            <source src="@Model.Sound" />
                        </audio>
                    </div>
                    <div class="content">
                        @Html.Action("GetSoundConservationByLessionId", "Home")
                    </div>
                    <h3 class="title">Ngữ pháp</h3>
                    <div class="content mt-2">
                        @Html.Action("GetGrammarByLessionId", "Home")
                    </div>
                </div>
                <div class="content">
                    @if (Model.Id == 1)
                    {
                        <div class="text-right">
                            @Html.ActionLink("Bài học tiếp theo", "LessionDetails", new { id = Model.Id + 1 }, new { @class = "btn btn-info fa fa-arrow-right" })
                        </div>
                    }
                    @if (Model.Id == 48)
                    {
                        @Html.ActionLink("Bài học trước đó", "LessionDetails", new { id = Model.Id - 1 }, new { @class = "btn btn-info fa fa-arrow-left" })
                    }
                    @if (Model.Id > 1 && Model.Id < 48)
                    {

                        @Html.ActionLink("Bài học trước đó", "LessionDetails", new { id = Model.Id - 1 }, new { @class = "btn btn-info fa fa-arrow-left mr-5" })
                        @Html.ActionLink("Bài học tiếp theo", "LessionDetails", new { id = Model.Id + 1 }, new { @class = "btn btn-info fa fa-arrow-right ml-5" })

                    }
                </div>
            </div>

            <div class="col-lg-4 right-contents">
                <h3 style="background-color:chocolate">Mô tả bài học</h3>
                <h4>@Model.LessionShortDescription</h4>
                <h3 class="mt-3" style="background-color:chocolate">Nội dung chính</h3>
                <h4>@Model.MainConent</h4>
                <h3 class="mt-3" style="background-color:chocolate">Chi tiết bài học</h3>
                <audio controls>
                    <source src="@Model.SoundLession" />
                </audio>
                <h3 class="title">Nhận xét</h3>
                <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <th align="left" class="productth">ID</th>
                            <th align="left" class="productth">Student Name</th>
                            <th align="left" class="productth">Student Address</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="content">
                    <div class="feedeback">
                        <h5>Cảm nhận của bạn</h5>
                        <label>Tên của bạn</label>
                        <input type="text" name="UserComment" id="UserComment" />
                        <textarea name="CommentContent" class="form-control" cols="10" rows="10" id="CommentContent"></textarea>
                        <div class="mt-10 text-right">
                            <input class="btn btn-primary" name="submitButton" id="btnSave" value="Gửi" type="button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
@section CommentScripts
{
    <script type="text/javascript">

    $(function () {
        LoadData();
        $("#btnSave").click(function () {
            //alert("");
            var std = {};
            std.studentName = $("#UserComment").val();
            std.studentAddress = $("#CommentContent").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateComment", new { @id = Model.Id })',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   // alert("Data has been added successfully.");
                    LoadData();
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });

    function LoadData() {
        $("#tblStudent tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetComments",new {@id= Model.Id })',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                    + "<td class='prtoducttd'>" + item.UserComment + "</td>"
                    + "<td class='prtoducttd'>" + item.CommentContent + "</td>"
                    + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
    </script>
}  