@model MyWebsite.Core.Models.Lession
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Những gì bạn học được vượt xa bạn có thể tưởng tượng </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                    <img class="img-fluid" src="@Model.Images" alt="">
                </div>
                <div class="content_wrapper">
                    <h3 class="title">Hội thoại</h3>
                    <div class="content">
                        <h3>Nội dung cuộc trò chuyện</h3>
                        <audio controls class="ml-5">
                            <source src="@Model.Sound" />
                        </audio>
                    </div>
                    <div class="content">
                        @Html.Action("GetSoundConservationByLessionId", "Home")
                    </div>
                    <h3 class="title">Ngữ pháp</h3>
                    <div class="content mt-2">
                        @Html.Action("GetGrammarByLessionId", "Home")
                    </div>
                </div>
                <div class="content mt-5">
                    @if (Model.Id == 1)
                    {
                        <div class="text-right">
                            @Html.ActionLink("Bài học tiếp theo", "LessionDetails", new { id = Model.Id + 1 }, new { @class = "btn btn-info", @style = "margin-left:430px" })
                        </div>
                    }
                    @if (Model.Id == 48)
                    {
                        @Html.ActionLink("Bài học trước đó", "LessionDetails", new { id = Model.Id - 1 }, new { @class = "btn btn-info" })
                    }
                    @if (Model.Id > 1 && Model.Id < 48)
                    {

                        @Html.ActionLink("Bài học trước đó", "LessionDetails", new { id = Model.Id - 1 }, new { @class = "btn btn-info " })
                        @Html.ActionLink("Bài học tiếp theo", "LessionDetails", new { id = Model.Id + 1 }, new { @class = "btn btn-info ",@style="margin-left:430px" })

                    }
                </div>
            </div>

            <div class="col-lg-4 right-contents">
                <h1 class="text-info">Bài số : @Model.Id</h1>
                <h3 class="title">Mô tả bài học</h3>
                <i>@Model.LessionShortDescription</i>
                <h3 class="title">Nội dung chính</h3>
                <h4 style="color:burlywood">@Model.MainConent</h4>
                <h3 class="title">Chi tiết bài học</h3>
                <audio controls>
                    <source src="@Model.SoundLession" />
                </audio>
                <h3 class="title">Danh sách các bài học</h3>
                <div class="content">
                    @Html.Action("GetAllLession", "Home")
                </div>
                <h3 class="title">Nhận xét</h3>
                <div id="show">
                    @Html.Action("Comment", "Home", new { id = Model.Id })
                </div>

                <div class="content">
                    <div class="feedeback">
                        <h5>Thêm bình luận</h5>
                        <input type="hidden" value=@Model.Id id="lessonid" />
                        <label>Tên của bạn</label>
                        <input name="UserComment" class="form-control" id="UserComment" />
                        <label>Nội dung</label>
                        <input name="CommentContent" class="form-control" id="CommentContent" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
@section CommentScripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#CommentContent').keypress(function (event) {

                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    var content = $("#CommentContent").val();
                    var user = $("#UserComment").val() == "" ? "Ẩn danh" : $("#UserComment").val();
                    var lesson = $("#lessonid").val();
                    $.ajax({
                        url: "/Home/Comment/",
                        data: { user: user, content: content, id: lesson },
                        dataType: "html",
                        type: "GET",
                        success: function (data) {
                            $("#CommentContent").val("");
                            $("#UserComment").val("");
                            $("#show").html(data);

                        }

                    })

                }

            });
        })
    </script>
}  