@model MyWebsite.Presentation.Models.RegisterViewModel
@Styles.Render("~/Content/Admin/css")
<div class="container mt-5">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Đăng ký tài khoản mới</h4>
                                    
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Nhập vào email của bạn" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @placeholder = "Nhập vào mật khẩu của bạn" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @placeholder = "Nhập lại mật khẩu" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-primary" value="Register" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Content/Admin/js")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}