@model MyWebsite.Core.Models.Lession

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Bài học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nội dung chính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainConent)
        </dd>

        <dt>
            Âm thanh hội thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoundLession)
        </dd>

        <dt>
            Âm thanh bài học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound)
        </dd>

        <dt>
            Mô tả bài học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessionShortDescription)
        </dd>
        <dt>
            Thơi gian đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOn)
        </dd>

        <dt>
            Thời gian sửa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifie)
        </dd>

        <dt>
            Hình ảnh
        </dt>
        <dd>
            <img src=" @Html.DisplayFor(model => model.Images)" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở về danh sách", "Index",new { @class = "btn btn-info" })
</p>
