@model MyWebsite.Core.Models.Lession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainConent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainConent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoundLession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoundLession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessionShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessionShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
