@model IEnumerable<MyWebsite.Core.Models.Lession>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lession</h6>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MainConent)</th>
                        <th>@Html.DisplayNameFor(model => model.LessionShortDescription)</th>
                        <th>@Html.DisplayNameFor(model => model.Images)</th>
                        <th>@Html.DisplayNameFor(model => model.PostOn)</th>
                        <th>@Html.DisplayNameFor(model => model.Modifie)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MainConent</td>
                            <td>@item.LessionShortDescription</td>
                            <td><img src="@item.Images" width="100"/></td>
                            <td>@item.PostOn</td>
                            <td>@item.Modifie</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info fa fa-edit" })
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info fa fa-info-circle" })
                                @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
