<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="./Content/Theme/img/favicon.png" type="image/png" />
    <title>Learning Japanese</title>
    <!-- Bootstrap CSS -->
    <style type="text/css">

        .Choices label {
            background-color: #e0dfdf;
            padding: 7px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-bottom: 8px;
            font-weight: bold;
            border: 1px solid #d0c9c9;
        }

        div .answer, .radio-inline {
            font-weight: bold;
        }
    </style>
    @Styles.Render("~/Content/style")
    @*<script type="text/javascript" src="https://anonyviet.com/php/hoaroi/hoaroi.js"></script>*@
</head>
<body>
    @Html.Partial("_HeaderPartial")
    @RenderBody()
    @Html.Partial("_FooterPartial")
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @Scripts.Render("~/Content/js")
    @RenderSection("CommentScripts", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)
</body>
</html>
