@model IEnumerable<MyWebsite.Core.Models.SoundConservation>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hội thoại</h6>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Tạo mới", "Create")
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã hội thoại</th>
                        <th>Mã nhân vật</th>
                        <th>Mã bài học</th>
                        <th>Tiếng Nhật</th>
                        <th>Phiên âm</th>
                        <th>Tiếng Việt</th>
                        <th>Thời gian đăng</th>
                        <th>Thời gian sửa</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ActorId</td>
                        <td>@item.LessionId</td>
                        <td>@item.Japanese</td>
                        <td>@item.Romaji</td>
                        <td>@item.VietNamese</td>
                        <td>@item.PostOn</td>
                        <td>@item.Modifie</td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info fa fa-edit" })
                            @Html.ActionLink("Xóa", "DeleteItem", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


